---
layout: default
---

<article class="px-4 py-16 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="relative mx-auto divide-y-2 divide-primary-gray max-w-prose">
  <header>
    <h1 class="text-4xl font-bold"><%= resource.data.title %></h1>
  </header>
    <%= render ProseComponent.new(classes: "pt-4") do %>
      <%= yield %>
    <% end %>
  </div>
</article>
